<h1>フレンド内検索</h1>

<%= form_with url: search_friends_path, method: :get, local: true do |f| %>
  <%= f.text_field :q, value: params[:q], placeholder: "フレンド名で検索" %>
  <%= f.submit "検索" %>
<% end %>

<% if @friends.present? %>
  <ul>
    <% @friends.each do |user| %>
      <li>
        <%= user.name %>
        <%= friendship_action_buttons(user, show_chat: true) %>
      </li>
    <% end %>
  </ul>
<% elsif params[:q].present? %>
  <p>該当フレンドはいませんでした。</p>
<% else %>
  <p>名前を入力して検索してください。</p>
<% end %>

<p><%= link_to "全ユーザー検索へ", search_users_path %></p>
<%= link_to "フレンド一覧へ", friends_path %>
<%= link_to "ブロック管理", blocks_path %>